{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": false
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "production": {
      "presets": [
        ["minify", { "builtIns": false }]
      ]
    }
  }
}