@import './variables.scss';

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  .close-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .popup-container {
    width: 40%;
    max-width: 350px;
    padding: 24px 28px;
    background-color: $WHITE;
    border-radius: 12px;
    text-align: center;
    z-index: 2;
    .p-header {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 12px;
      color: $NBLUE100;
    }
    .p-body {
      font-size: 18px;
      margin-bottom: 12px;
      line-height: 1.3;
    }
    .p-button-container {
      .p-button {
        font-size: 18px;
        font-weight: 500;
        color: $WHITE;
        border-radius: 8px;
        padding: 12px 24px;
        &:first-child {
          background-color: $TOMATO100;
          margin-right: 8px;
        }
        &:nth-child(2) {
          background-color: $NBLUE100;
        }
      }
    }
  }
}