$BLACK: #090F20;
$NEARBLACK: #0B1228;
$WHITE: #FFFFFF;

$N1: #F3F4F5;
$N5: #F3F4F6;
$N10: #E7E9EC;
$N20: #D0D3DA;
$N30: #B8BCC7;
$N50: #8990A2;
$N60: #727A8F;
$N65: #767D92;
$N70: #5A637D;
$N80: #434D6A;
$N90: #2B3757;
$N100: #142145;
$N110: #0F1734;

$NAVY100: #0f1734;

$NBLUE5: #F6F8FF;
$NBLUE10: #EDF2FF;
$NBLUE20: #DBE4FF;
$NBLUE70: #80A1FF;
$NBLUE80: #6D94FF;
$NBLUE90: #5B86FF;
$NBLUE100: #4979FF;

$SUNSET10: #f9eacd;
$SUNSET25: #FFEABF;
$SUNSET70: #FFC44D;
$SUNSET100: #FFAB00;

$TOMATO25: #FFD6D4;
$TOMATO70: #FF8C86;
$TOMATO100: #FF5B52;
$TOMATO200: #F7433A;

$PRIMARY: #4979FF;
$PRIMARY_LIGHT: #A3B0F9;

$LIGHTBLUE: #3991CE;

$PURPLE1: #7A5CFF;

$CONTENTGRAY: #5A678A;
$MEDIUMGRAY: #B8BCC7;
$LIGHTGRAY: #D3D3D3;


$BASIL100: #4CD87D;

$INPUT_BORDER: #C8DCEC;
